.classCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 36px;
    margin: 24px 0 48px 0;
    max-width: 60vw;
}