.topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 64px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 32px;
    background-color: #212121;
    color: white;
}

.navigationLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}